.pageTab {
	width:33%;
	padding:12px 8px 8px;
	text-align:center;
	font-size:93%;
	font-weight:bold;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6 {
	padding:0;
	margin:0;
}

h1, h2, h3, h4, h5, h6 {
	display:inline;
	font-weight:normal;
}

img {
	border:0;
}

table {
	border:0;
	border-collapse:collapse;
	border-spacing:0;
	width:auto;
}

pre, code, kbd, samp, tt {
	font-family:monospace;
	line-height:99%;
	font-size:108%;
}

a,  a:visited,  a:hover,  a:active {
	color:inherit;
	text-decoration:none;
}

ul,  li {
	list-style-type:none;
}

body {
	font-size:16px;
	-webkit-text-size-adjust:none;
	font-family:Helvetica,  'Nokia Sans',  Arial,  Sans-serif;
}

.collection {
	background:#c5ccd7;
	color:#3e3e3e;
}

.list {
	background:#fff;
	color:#000;
}

.collection #pageHeader {
	margin-bottom:5px;
}

.small {
	font-size:93%;
}

.title {
	font-size:115%;
	font-weight:bold;
}

.article {
	font-family:Georgia,  serif;
}

.article-title {
	font-weight:normal;
	font-size:120%;
}

.collection .title {
	color:#000;
}

.collection .uim .title {
	color:#000;
}

.collection .featured-uim .title {
	color:#000;
}

.collection .uim .uim .title {
	color:#000;
}

.collection .subdued {
	color:#7c7c7d;
}

.collection .uim .subdued {
	color:#7c7c7d;
}

.collection .featured-uim .subdued {
	color:#7c7c7d;
}

.collection .uim .uim .subdued {
	color:#7c7c7d;
}

.collection .subtext {
	color:#446b94;
}

.collection .uim .subtext {
	color:#6271a0;
}

.collection .featured-uim .subtext {
	color:#446b94;
}

.collection .uim .uim .subtext {
	color:#6271a0;
}

.collection .positive {
	color:#007800;
}

.collection .uim .positive {
	color:#056005;
}

.collection .featured-uim .positive {
	color:#00a400;
}

.collection .uim .uim .positive {
	color:#056005;
}

.collection .negative {
	color:#b30200;
}

.collection .uim .negative {
	color:#b30200;
}

.collection .featured-uim .negative {
	color:#b30200;
}

.collection .uim .uim .negative {
	color:#b30200;
}

.collection .important {
	color:#b30200;
	font-weight:bold;
}

.collection .uim .important {
	color:#b30200;
}

.collection .featured-uim .important {
	color:#b30200;
}

.collection .uim .uim .important {
	color:#b30200;
}

.collection .value {
	color:#405288;
}

.collection .uim .value {
	color:#405288;
}

.collection .featured-uim .value {
	color:#405288;
}

.collection .uim .uim .value {
	color:#405288;
}

.collection .disabled {
	color:#bcc5cc;
}

.collection .uim .disabled {
	color:#bcc5cc;
}

.collection .featured-uim .disabled {
	color:#bcc5cc;
}

.collection .uim .uim .disabled {
	color:#bcc5cc;
}

.collection .link {
	color:#006ec2;
}

.collection .uim .link {
	color:#006ec2;
}

.collection .featured-uim .link {
	color:#006ec2;
}

.collection .uim .uim .link {
	color:#006ec2;
}

.collection .url {
	color:#398f08;
}

.collection .uim .url {
	color:#398f08;
}

.collection .featured-uim .url {
	color:#398f08;
}

.collection .uim .uim .url {
	color:#398f08;
}

.list .title {
	color:#000;
}

.list .uim .title {
	color:#000;
}

.list .featured-uim .title {
	color:#000;
}

.list .uim .uim .title {
	color:#000;
}

.list .subdued {
	color:#7c7c7d;
}

.list .uim .subdued {
	color:#7c7c7d;
}

.list .featured-uim .subdued {
	color:#7c7c7d;
}

.list .uim .uim .subdued {
	color:#7c7c7d;
}

.list .subtext {
	color:#6271a0;
}

.list .uim .subtext {
	color:#6271a0;
}

.list .featured-uim .subtext {
	color:#446b94;
}

.list .uim .uim .subtext {
	color:#6271a0;
}

.list .positive {
	color:#056005;
}

.list .uim .positive {
	color:#056005;
}

.list .featured-uim .positive {
	color:#00a400;
}

.list .uim .uim .positive {
	color:#056005;
}

.list .negative {
	color:#b30200;
}

.list .uim .negative {
	color:#b30200;
}

.list .featured-uim .negative {
	color:#b30200;
}

.list .uim .uim .negative {
	color:#b30200;
}

.list .important {
	color:#b30200;
	font-weight:bold;
}

.list .uim .important {
	color:#b30200;
}

.list .featured-uim .important {
	color:#b30200;
}

.list .uim .uim .important {
	color:#b30200;
}

.list .value {
	color:#405288;
}

.list .uim .value {
	color:#405288;
}

.list .featured-uim .value {
	color:#405288;
}

.list .uim .uim .value {
	color:#405288;
}

.list .disabled {
	color:#bcc5cc;
}

.list .uim .disabled {
	color:#bcc5cc;
}

.list .featured-uim .disabled {
	color:#bcc5cc;
}

.list .uim .uim .disabled {
	color:#bcc5cc;
}

.list .link {
	color:#006ec2;
}

.list .uim .link {
	color:#006ec2;
}

.list .featured-uim .link {
	color:#006ec2;
}

.list .uim .uim .link {
	color:#006ec2;
}

.list .url {
	color:#398f08;
}

.list .uim .url {
	color:#398f08;
}

.list .featured-uim .url {
	color:#398f08;
}

.list .uim .uim .url {
	color:#398f08;
}

.uim .subtext.description,  .uim-featured .subtext.description {
	font-size:100%;
	color:#000;
}

.url {
	word-break:break-all;
	word-wrap:break-word;
}

#pageBranding {
	background:#8a4d99 url(http://l.yimg.com/jg/api/res/1.2/.UzuqxClemKGaT3ImyN3MQ--/resource:/brand/yahoo/web/1.0.74/image/Hero/theme/purple.cf.png) bottom left repeat-x;
}

#pageHeader .searchBox {
	padding:0.3em 4px;
}

#pageHeader .searchBox input {
	margin:0;
}

#toolbar {
	background:#fff url(http://l.yimg.com/jg/api/res/1.2/DY8ikSbC3TYQnbVLzbkd4g--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/masthead) bottom left repeat-x;
	padding-bottom:4px;
}

#toolbar .link {
	color:#006ec2;
}

#toolbar .url {
	color:#398f08;
}

#toolbar .title {
	color:#16387c;
}

#toolbar .subtext {
	color:#6271a0;
}

#toolbar .subdued {
	color:#7c7c7d;
}

#toolbar .important {
	color:#b30200;
}

#toolbar .negative {
	color:#b30200;
}

#toolbar .positive {
	color:#00a400;
}

#toolbar .value {
	color:#405288;
}

#toolbar .template .uic img {
	vertical-align:text-top;
}

#toolbar .sc-hidden,  #toolbar.hidden {
	display:none;
}

.collection #pageTabs {
	border-bottom:4px solid #fff;
}

#pageTabs table {
	margin:0 auto;
	width:90%;
}

#pageTabs .wide {
	padding:12px 2px 8px;
	min-width:130px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}

#pageTabs .ptactive {
	background:#fff;
	padding:12px 20px 8px;
	margin:0 10px;
}

.pageTab a,  .pageTab a.inline {
	color:#fff;
	margin-right:0;
}

#pageTabs .ptactive,  #pageTabs .ptactive a {
	color:#000;
}

div.tabs-compact {
	font-size:110%;
	padding:6px 0 8px;
}

div.tabs-compact .tabLinks,  #gotos {
	width:auto;
	text-align:center;
	margin:0 auto;
}

body div.tabs-compact .tabLinks td.tabLink,  #gotos .goto {
	background:transparent;
	border:0;
	padding:0 12px;
}

body div.tabs-compact .tabLinks td a,  body div.tabs-compact .tabLinks td span,  #gotos .goto a {
	color:#3b4056;
	font-weight:bold;
}

body div.tabs-compact .tabLinks td a,  #gotos .goto a {
	padding:4px 0;
}

body div.tabs-compact table.tabLinks .active a,  body div.tabs-compact table.tabLinks .active span,  #gotos .active a {
	color:#000;
}

body div.tabs-compact table.tabLinks .active,  #gotos .active {
	background:#fff;
	border:1px solid #ccc;
	padding-top:1px;
}

#gotos {
	font-size:85%;
}

#titlebar {
	padding:8px;
}

#titlebar .icon img {
	vertical-align:middle;
}

#titlebar .widgetTitle {
	vertical-align:middle;
	color:#fff;
	font-weight:bold;
	margin-left:4px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-shadow:rgba(0, 0, 0, 1) 0 1px 1px;
	max-width:144px;
	display:inline-block;
}

#titlebar #uiCommands {
	position:absolute;
	top:10px;
	right:8px;
	max-width:40%;
	text-align:right;
}

#titlebar #uiCommands a {
	color:#fff;
	text-decoration:none;
	text-shadow:rgba(0, 0, 0, 0.7) 0 -1px 1px;
	font-size:85%;
	font-weight:bold;
}

#titlebar.minimal {
	width:100%;
	padding:0;
}

.minimal .logoAndTitle {
	padding:12px 4px 12px 10px;
	white-space:nowrap;
}

img.left {
	padding-right:.4em;
}

img.right {
	padding-left:.4em;
}

.favicon img {
	margin-right:4px;
	vertical-align:bottom;
}

.image-block {
	display:block;
}

.caption {
	display:block;
	padding:0 1px;
	clear:both;
	font-size:72%;
	margin-top:2px;
}

.sprite {
	overflow:hidden;
	display:inline-block;
	background-repeat:no-repeat;
}

.uic span.sprite.inline {
	vertical-align:middle;
}

.photoSize {
	display:block;
	width:100%;
	text-align:center;
}

.photoSize img {
	max-width:215px;
}

.collection .photoSize img {
	max-width:205px;
}

.uim .uiCommand a {
	font-size:85%;
	font-weight:bold;
	color:#481060;
}

.suim .uiCommand a {
	color:#674670;
}

.featured .uiCommand a {
	color:#fff;
}

#titlebar .uiCommand a {
	color:#fff;
}

.uiCommand.as a,  #allSites .uiCommand a {
	display:block;
	width:100%;
	height:100%;
}

.tabs {
	padding:0;
}

table.tabLinks {
	width:100%;
}

table.tabLinks td {
	background:#fff url(http://l.yimg.com/jg/api/res/1.2/Rajk43UwnH36wpmoHJO_UQ--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/tab_bkg) bottom left repeat-x;
	text-align:center;
	color:#000;
	font-size:75%;
	font-weight:bold;
	border:1px solid #b7c1c8;
	border-left:0;
	white-space:nowrap;
}

.uim-featured table.tabLinks td {
	background:#7c97b6 url(http://l.yimg.com/jg/api/res/1.2/uBR5MrMT1EVPvSgO3vBn3w--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/tab_featured_bkg) bottom left repeat-x;
	border-color:#627390;
	color:#343d5b;
}

table.tabLinks td.last {
	border-right:none;
}

body table.tabLinks td.first {
	border:1px solid #b7c1c8;
	border-bottom:1px solid #b7c1c8;
	border-left:0;
}

#content table.tabLinks td.first {
	border-top:1px solid #b7c1c8;
}

body .uim-featured table.tabLinks td.first {
	border-color:#627390;
	border-top:1px solid #627390;
}

table.tabLinks td a.inline {
	display:block;
	width:100%;
	height:100%;
	padding:8px 0;
	margin-right:0;
	color:#16387c;
}

.uim-featured table.tabLinks td a.inline {
	color:#fff;
}

table.tabLinks td a.inline,  table.tabLinks td a.inline:hover,  table.tabLinks td a.inline:active,  table.tabLinks td a.inline:focus {
	outline:none;
}

body table.tabLinks td.active {
	background:#fff;
	color:#000;
	border-bottom-color:#fff;
}

body .uim-featured table.tabLinks td.active {
	background:#eff2fd;
	border-bottom-color:#eff2fd;
}

table.tabLinks td,  table.tabLinks td a {
	color:#16387c;
	cursor:pointer;
}

.uim-featured table.tabLinks td,  .uim-featured table.tabLinks td a {
	color:#fff;
}

table.tabLinks td.active a {
	color:#000;
}

.uim-featured table.tabLinks td.active a {
	color:#343d5b;
}

body #content .first table.tabLinks td {
	border-top:0;
}

.tabSection {
	display:none;
}

.tabSectionShown {
	display:block;
}

body .tabs .tabSectionShown .uim:first-child,  #content .tabs .tabSectionShown div.first {
	border-top:none;
}

a.inline {
	color:#006ec2;
}

.uic {
	display:block;
}

.oneSearch {
	padding:3px 0 0;
}

.oneSearch form {
	margin:0;
	padding:0;
	display:block;
	white-space:nowrap;
}

.osContainer td.os-filter {
	padding:10px;
}

.osContainer td.os-input {
	width:100%;
	padding:0 0 3px;
}

.osContainer td.os-input input.os-text {
	border:1px solid #ababab;
	background:#fff;
	color:#000;
	font-size:100%;
	padding:1px 2px 2px;
	width:100%;
	height:20px;
}

.osContainer td.os-button {
	padding:4px 8px;
}

.osContainer td.os-button input.os-button {
	border:none;
	background-color:transparent;
}

.minimal .oneSearch {
	width:100%;
	padding:0 10px;
}

.minimal .osContainer td.os-input input.os-text {
	border:1px solid #ababab;
	background:#fff;
	color:#000;
	font-size:100%;
	width:99%;
}

.minimal .oneSearch input.os-button {
	top:0;
}

.minimal .oneSearch input.os-text:focus {
	color:#000;
}

.minimal .oneSearch td.os-button {
	padding:0;
}

body .oneSearch .osContainer input.disabled {
	color:#bcc5cc;
}

.oneSearch .os-filter-list {
	display:none;
	position:absolute;
	z-index:10;
	top:0;
	left:8px;
	background:#ececec;
	border:1px solid #ababab;
}

.oneSearch .os-filter-list li {
	padding:6px 22px 6px 30px;
	font-size:85%;
	font-weight:bold;
}

.oneSearch .os-filter-list li a,  .oneSearch .os-filter-list li a:visited {
	color:#000;
}

.oneSearch .os-filter-list li.selected {
	background:transparent url(http://l.yimg.com/jg/api/res/1.2/YBq3iorcW8k5ohfssGm7tg--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/onesearch/os_mag_glass) 8px center no-repeat;
}

.oneSearch .os-filter-list .cancel {
	background:#dfdfdf;
}

div.case-hidden {
	display:none;
}

div.loading-spinner {
	text-align:center;
	padding:0.5em;
}

#content .uim {
	background:#fff;
	color:#000;
}

#content .uim-featured,  #content .uim-featured .uim {
	background:#eff2fd;
	color:#3e3e3e;
}

.uim,  #content .list .uim {
	border:none;
	border-top:1px solid #dfdfdf;
	margin:0;
}

.first,  #content .list .first {
	border-top:0;
}

.uim-featured,  .uim-featured .uim,  #content .list .uim-featured,  #content .list .uim-featured .uim {
	border-color:#7f9ab8;
}

.collection .uim {
	margin:5px;
	border:1px solid #a9b0b8;
	border-top:1px solid #a9b0b8;
}

.collection .uim-featured {
	border-bottom:1px solid #7f9ab8;
}

.collection .uim .uim {
	border-width:1px 0 0 0;
	margin:0;
}

.collection .uim .bd div.first,  .collection .uim .hd {
	border-top:0;
}

.collection .uim .hd:last-child {
	border-bottom:0;
}

.collection .uim .bd form:first-child {
	border:0;
}

.collection .doBdrTop {
	border-top:1px solid #a9b0b8;
}

.collection .doBdrBottom {
	border-bottom:1px solid #a9b0b8;
}

.collection .doBdrTop .bd div,  .collection .doBdrTop .bd a {
	border-left:0;
	border-right:0;
}

.collection .uim .bd .uim:first-child .hd,  .collection .uim .bd .uim:first-child .hd {
	border-top:0;
}

.collection .uim .hd + .bd > *:first-child {
	border-top:0;
}

.collection .uim:last-child {
	margin-bottom:0;
}

.placardSet {
	width:100%;
}

.placardRow {
	border-top:1px solid #dfdfdf;
	width:50%;
}

.placardRow .uip {
	border:none;
}

.placardSet td.first {
	border-top:0;
}

.compact .placardRow {
	border:none;
}

.placardRow:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
}

.uip {
	padding:0.3em 8px;
}

.uip .uic {
	padding:0.3em 0;
}

.linked .items {
	background:transparent url(http://l.yimg.com/jg/api/res/1.2/22aKmcwn.wehjJKpSZxb7Q--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/arrow_blue) no-repeat;
	background-position:center right;
}

.uim-featured .hd-linked .items {
	background:transparent url(http://l.yimg.com/jg/api/res/1.2/7u9qPGdw9c5I0zChFJ4QNg--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/arrow_white) no-repeat;
	background-position:center right;
}

.linked .items td.blocks,  .linked .items td.imgR {
	padding-right:8px;
}

#bp-bd .callout {
	background:#13428b url(http://l.yimg.com/jg/api/res/1.2/5bNCBbmUjIuOfWk2IvGPtA--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/callout_medium) bottom left repeat-x;
}

#bp-bd .callout * {
	color:#d3ecff;
}

#bp-bd .callout-linked .items {
	background:transparent url(http://l.yimg.com/jg/api/res/1.2/7u9qPGdw9c5I0zChFJ4QNg--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/arrow_white) no-repeat;
	background-position:center right;
}

#bp-bd .callout .title {
	color:#fff;
}

#bp-bd .callout .subtext {
	color:#fff;
}

#bp-bd .callout .subdued {
	color:#378ca4;
}

#bp-bd .callout .value {
	color:#fff;
}

#bp-bd .callout-low {
	background:#f2fafe url(http://l.yimg.com/jg/api/res/1.2/9u7wFbnZ0gs3jsnYVguRNg--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/callout_subdued) bottom left repeat-x;
}

#bp-bd .callout-low * {
	color:#272627;
}

#bp-bd .callout-low-linked .items {
	background:transparent url(http://l.yimg.com/jg/api/res/1.2/22aKmcwn.wehjJKpSZxb7Q--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/arrow_blue) no-repeat;
	background-position:center right;
}

#bp-bd .callout-low .title {
	color:#16387c;
}

#bp-bd .callout-low .subtext {
	color:#16387c;
}

#bp-bd .callout-low .subdued {
	color:#656a6d;
}

#bp-bd .callout-low .value {
	color:#16387c;
}

#bp-bd .callout-strong {
	background:#fdf099 url(http://l.yimg.com/jg/api/res/1.2/XL5G5nbjMKB9xkaxcnpCvQ--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/callout_strong) bottom left repeat-x;
}

#bp-bd .callout-strong * {
	color:#272627;
}

#bp-bd .callout-strong-linked .items {
	background:transparent url(http://l.yimg.com/jg/api/res/1.2/22aKmcwn.wehjJKpSZxb7Q--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/arrow_blue) no-repeat;
	background-position:center right;
}

#bp-bd .callout-strong .title {
	color:#16387c;
}

#bp-bd .callout-strong .subtext {
	color:#50201e;
}

#bp-bd .callout-strong .subdued {
	color:#7d6d58;
}

#bp-bd .callout-strong .value {
	color:#16387c;
}

#bp-bd .callout-alert {
	background:#b91315 url(http://l.yimg.com/jg/api/res/1.2/ojcKX.leSjzokBP07my0oQ--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/callout_alert) bottom left repeat-x;
}

#bp-bd .callout-alert * {
	color:#ffe6a2;
}

#bp-bd .callout-alert-linked .items {
	background:transparent url(http://l.yimg.com/jg/api/res/1.2/7u9qPGdw9c5I0zChFJ4QNg--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/arrow_white) no-repeat;
	background-position:center right;
}

#bp-bd .callout-alert .title {
	color:#fff;
}

#bp-bd .callout-alert .subtext {
	color:#fff;
}

#bp-bd .callout-alert .subdued {
	color:#e79576;
}

#bp-bd .callout-alert .value {
	color:#fff;
}

table.items {
	width:100%;
}

.items .blocks,  .items .imgR {
	vertical-align:middle;
}

.items .imgL {
	vertical-align:top;
}

.placardSet .items .imgL {
	vertical-align:middle;
}

.imgL,  .tpl .icon {
	padding-right:4px;
}

.tpl .icon {
	text-align:center;
}

.imgL span.sprite {
	display:block;
}

.imgR {
	padding:1px 12px 1px 4px;
	white-space:nowrap;
}

.blocks {
	width:100%;
}

.blocks .uic,  .uim .uip .uic {
	padding:0;
	border-top:none;
}

.uic,  .uip {
	display:block;
	padding:0.3em 4px;
}

.uic img + a.inline {
	margin-left:2px;
}

.uic img,  .uic img + a.inline {
	vertical-align:middle;
}

.uim .uic,  .uim .uip {
	border-top:1px solid #dfdfdf;
}

.uic.first,  .uip.first,  .collection .uim .uic.first,  .collection .uim .uip.first,  .collection .uim .uim .uic.first {
	border-top:0;
}

.uim .uic {
	border-top:1px solid #dfdfdf;
}

.uim-featured .uic {
	border-top:1px solid #7991a7;
}

.uim .uic.first,  .uim .uim .uic.first {
	border-top:0;
}

.center {
	text-align:center;
}

.left,  .natural {
	text-align:left;
}

.right,  .opposite {
	text-align:right;
}

#content strong,  #content .uim strong {
	font-weight:bold;
}

.hd {
	position:relative;
	font-size:93%;
}

.section .hd {
	background-color:transparent;
	background-image:none;
}

.section .hd .uic {
	padding:0.3em 7px;
	color:#4e5980;
}

.section .uim .hd .uic {
	padding:0.3em 8px;
}

.section .hd .uic a {
	color:#4e5980;
}

.section .hd .uiCommand a {
	font-size:85%;
	font-weight:bold;
	color:#4e5980;
}

.section .items {
	padding:0;
}

.section .uim .items {
	padding:0.3em 0;
}

.section .hd-linked {
	padding-right:7px;
}

.hd .uiCommand {
	display:block;
	text-align:right;
	position:absolute;
	right:8px;
	top:0.4em;
}

.section .hd-uicommand-short .uiCommand {
	top:0.2em;
}

.section .hd-linked .uiCommand {
	right:15px;
}

.hd .uiCommand a {
	font-size:85%;
	font-weight:bold;
	color:#481060;
	text-decoration:none;
}

.uim-featured .hd .uiCommand a {
	color:#fff;
}

.uim .hd {
	padding:0.4em 4px 0.3em;
	background:#fff url(http://l.yimg.com/jg/api/res/1.2/JTwsYVuZoY0sNf5ukKDEkg--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/module_header) bottom left repeat-x;
	border-bottom:1px solid #b7c1c8;
}

.uim .hd-uicommand {
	padding-right:3em;
}

.uim .hd .uic {
	border-top:0;
	color:#000;
	font-weight:bold;
}

.uim .uim .hd {
	background:#fff url(http://l.yimg.com/jg/api/res/1.2/27ZmyLD4Bikx2njiKhizhg--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/submodule_header) bottom left repeat-x;
}

.uim .uim .hd .uic {
	color:#596c7b;
}

.uim-featured .hd,  .uim-featured .uim .hd,  .uim .uim-featured .hd {
	background:#98adc6 url(http://l.yimg.com/jg/api/res/1.2/PQu8jjWMFp14skAGJ00ovg--/resource:/brand/yahoo/web/1.0.74/image/ANew/ui/base/module_featured_header) bottom left repeat-x;
	border-bottom:1px solid #446b94;
}

.uim-featured .hd .uic,  #content .uim-featured .hd .uic {
	color:#fff;
}

.uim .hd .title {
	color:#000;
}

.uim .uim .hd .title {
	color:#000;
}

.uim-featured .hd .title,  .uim-featured .uim .hd .title {
	color:#fff;
}

.uim .hd .subdued {
	color:#7c7c7d;
}

.uim .uim .hd .subdued {
	color:#676867;
}

.uim-featured .hd .subdued,  .uim-featured .uim .hd .subdued {
	color:#d6e0ee;
}

.uim .hd .subtext {
	color:#6271a0;
}

.uim .uim .hd .subtext {
	color:#446b94;
}

.uim-featured .hd .subtext,  .uim-featured .uim .hd .subtext {
	color:#ffe294;
}

.uim .hd .positive {
	color:#056005;
}

.uim .uim .hd .positive {
	color:#056005;
}

.uim-featured .hd .positive,  .uim-featured .uim .hd .positive {
	color:#5bf65d;
}

.uim .hd .negative {
	color:#b30200;
}

.uim .uim .hd .negative {
	color:#b30200;
}

.uim-featured .hd .negative,  .uim-featured .uim .hd .negative {
	color:#b30200;
}

.uim .hd .important {
	color:#b30200;
}

.uim .uim .hd .important {
	color:#b30200;
}

.uim-featured .hd .important,  .uim-featured .uim .hd .important {
	color:#ffe400;
}

.uim .hd .value {
	color:#405288;
}

.uim .uim .hd .value {
	color:#405288;
}

.uim-featured .hd .value,  .uim-featured .uim .hd .value {
	color:#c6fb29;
}

.uim .hd .link {
	color:#006ec2;
}

.uim .uim .hd .link {
	color:#006ec2;
}

.uim-featured .hd .link,  .uim-featured .uim .hd .link {
	color:#ffdb79;
}

.uim a.inline {
	color:#006ec2;
}

.uim-featured a.inline {
	color:#006ec2;
}

#pageFooter {
	clear:both;
	padding:0.8em 0 1em 0;
	border-top:1px solid #dcdddd;
	background-color:#f2f2f2;
}

.collection #pageFooter {
	margin-top:5px;
}

#pageFooter div#defaultFooter {
	margin-bottom:0;
	border:none;
	text-align:center;
	line-height:1.2em;
	font-size:85%;
}

div#defaultFooter div.bd {
	background:transparent;
	border:none;
	min-height:0;
}

div#defaultFooter div.uic {
	margin:0;
	padding:0;
	border:none;
	color:#000;
	font-weight:bold;
}

div.username a,  div.links a {
	margin:0 4px;
}

div#defaultFooter a {
	font-weight:bold;
	color:#006ec2;
}

div#footer div.subtext {
	font-size:85%;
	color:#a4a3a4;
}

#pageFooter #brandFooter {
	background-color:#f2f2f2;
	color:#000;
	border:none;
	text-align:left;
}

#pageFooter #brandFooter a,  #pageFooter #brandFooter a.inline {
	color:inherit;
}

#pageFooter #brandFooter .title {
	color:#000;
}

#pageFooter #brandFooter .subdued {
	color:#7c7c7d;
}

#pageFooter #brandFooter .subtext {
	color:#a4a3a4;
}

#pageFooter #brandFooter .positive {
	color:#056005;
}

#pageFooter #brandFooter .negative {
	color:#b30200;
}

#pageFooter #brandFooter .important {
	color:#b30200;
	font-weight:bold;
}

#pageFooter #brandFooter .link {
	color:#006ec2;
}

#pageFooter #brandFooter .url {
	color:#398f08;
}


